<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>376725753941-adjnp613h7a5pr36mpsvgpmnt0rpt73o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.376725753941-adjnp613h7a5pr36mpsvgpmnt0rpt73o</string>
	<key>API_KEY</key>
	<string>AIzaSyB2XVawzsZ3n0DPDzDUrXCrpO9uJfykzH0</string>
	<key>GCM_SENDER_ID</key>
	<string>376725753941</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.solarPanelResearch</string>
	<key>PROJECT_ID</key>
	<string>solarpanelresearch-3fcb9</string>
	<key>STORAGE_BUCKET</key>
	<string>solarpanelresearch-3fcb9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:376725753941:ios:5c4a096cd99fed50eac4dc</string>
	<key>DATABASE_URL</key>
	<string>https://solarpanelresearch-3fcb9-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>